body{
  background-color:#2ecc71;
}

.title{
  margin-top:100px;
  color:white;
  text-align:center;
  font-size:100px;
}

.subtitle{
  color:white;
  margin-top:50px;
  text-align:center;
}

#install-button{
  color:white;
}

.centered{
  text-align:center;
}

.white{
  color:white;
}

.logout{
  position:absolute;
  top:50px;
  right:50px;
}
